@model AskanioPhotoSite.Core.Models.PhotoListModel

@{
    Layout = null;
    int counter = 0;
}

@if (Model.Photos.Count > 0)
{
<table class="table table-hover space">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>Иконка</th>
            <th>Название</th>
            <th>Путь к файлу</th>
            <th>Альбом</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var photo in Model.Photos)
        {
            <tr>
                @Html.HiddenFor(x => photo.Order)
                <td>
                    <a data-photo="@photo.Id" class="up"></a>
                    <a data-photo="@photo.Id" class="down"></a>
                </td>
                <td>@(++counter)</td>
                <td class="photo-thumbnail"><img src='@Url.Content(photo.ThumbnailPath)?@Guid.NewGuid()' /></td>
                <td>@photo.TitleRu</td>
                <td>@photo.PhotoPath</td>
                <td>@photo.Album.TitleRu</td>
                <td style="text-align: right">
                    <a href="#" data-id="@photo.Id" class="edit"><span class="glyphicon glyphicon-pencil"></span>Редактировать</a>
                    <a class="remove" data-id="@photo.Id"><span class="glyphicon glyphicon-remove-sign"></span>Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <p>Фотографий пока нет.</p>
}

<div id="editUploadPhoto"></div>

<script>
    $(document).ready(function () {
        SortHandler('@Url.Action("ChangeOrder")');

        $(".remove").on("click", function () {

            var element = $(this);
            var id = $(this).data("id");

            ConfirmDelete("Вы уверены, что хотите удалить фотографию? Это действие будет наобратимо!", function () {
                DeleteEntity(id, '@Url.Action("DeletePhoto")', element);
            });
        });

        $('.edit').on('click', function (e) {
            e.preventDefault();

            var photoId = $(this).data("id");

            $.ajax({
                type: 'GET',
                url: '@Url.Action("EditPhoto")',
                data: { id: photoId, returnUrl: '@Model.ReturnUrl' },
                success: function (response) {
                    $('#editUploadPhoto').html(response);
                    $('#editUploadPhotoModal').modal('show');
                }
            });
        })

        $('#editUploadPhotoModal').on("show", function () {
            $('body').addClass("modal-open");
        }).on("hidden", function () {
            $('body').removeClass("modal-open");
        });
    });
</script>
