@model AskanioPhotoSite.Core.Models.TextAttributeModel

@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UpdateTextAttribute", "Management"))
{
<div class="container">
    <h3>Редактирование текста и шрифтов</h3>

    @if (ViewBag.Success != null)
    {
    <div class="alert alert-success">@ViewBag.Success</div>
    }
    <div class="form-horizontal">
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.WatermarkFont, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8 form-inline">
                @Html.TextBoxFor(x => x.WatermarkFont, new { @class = "form-control", placeholder = "Bell MT" })
                @Html.ValidationMessageFor(x => x.WatermarkFont)
                @*<div class="default">По-умолчанию: Bell MT</div>*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.WatermarkFontSize, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8 form-inline">
                @Html.TextBoxFor(x => x.WatermarkFontSize, new { @class = "form-control", placeholder = "60" })
                @Html.ValidationMessageFor(x => x.WatermarkFontSize)
                @*<div class="default">По-умолчанию: 60</div>*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.WatermarkText, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8 form-inline">
                @Html.TextBoxFor(x => x.WatermarkText, new { @class = "form-control", placeholder = "AlexSilver.Photo@gmail.com" })
                @Html.ValidationMessageFor(x => x.WatermarkText)
                @*<div class="default bottom">По-умолчанию:  AlexSilver.Photo@gmail.com</div>*@
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(x => x.SignatureFont, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8 form-inline">
                @Html.TextBoxFor(x => x.SignatureFont, new { @class = "form-control", placeholder = "Edwardian Script ITC" })
                @Html.ValidationMessageFor(x => x.SignatureFont)
                @*<div class="default">По-умолчанию: Edwardian Script ITC</div>*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.SignatureFontSize, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8 form-inline">
                @Html.TextBoxFor(x => x.SignatureFontSize, new { @class = "form-control", placeholder = "45" })
                @Html.ValidationMessageFor(x => x.SignatureFontSize)
                @*<div class="default">По-умолчанию: 45 </div>*@
            </div>
        </div>
        <div class="form-group form-inline">
            @Html.LabelFor(x => x.SignatureText, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.SignatureText, new { @class = "form-control", placeholder = "© Alexander Serebryakov" })
                @Html.ValidationMessageFor(x => x.SignatureText)
                @*<div class="default">По-умолчанию: © Alexander Serebryakov</div>*@
            </div>
        </div>
        <hr />
        <div class="form-group form-inline">
            @Html.LabelFor(x => x.StampFont, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.StampFont, new { @class = "form-control", placeholder = "Bell MT" })
                @Html.ValidationMessageFor(x => x.StampFont)
                @*<div class="default">По-умолчанию: Bell MT</div>*@
            </div>
        </div>
        <div class="form-group form-inline">
            @Html.LabelFor(x => x.StampFontSize, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.StampFontSize, new { @class = "form-control", placeholder = "33" })
                @Html.ValidationMessageFor(x => x.StampFontSize)
                @*<div class="default">По-умолчанию: 33</div>*@
            </div>
        </div>
        <div class="form-group form-inline">
            @Html.LabelFor(x => x.StampText, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.StampText, new { @class = "form-control", placeholder = "www.askanio.ru" })
                @Html.ValidationMessageFor(x => x.StampText)
                @*<div class="default">По-умолчанию: www.askanio.ru</div>*@
            </div>
        </div>

        <div class="form-group form-inline">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">Обновить</button>
                <a href='@Url.Action("SetToDefault", "Management")' class="btn btn-danger">Сбросить</a>
            </div>
        </div>
    </div>
</div>
}