@model AskanioPhotoSite.Core.Models.GalleryViewModel
@using AskanioPhotoSite.WebUI.Helpers;
@using AskanioPhotoSite.WebUI.Localization;

@{
    ViewBag.Title = MainUI.Gallery;
    Layout = ViewPatternHelper.GetLayout(Request);
}

@*<div class="container">*@

    @Html.Build(Model.ParentAlbums)

    <div class="album-layout">
        @foreach (var album in Model.Albums)
        {
            <div class="askanio-gallery-album">
                <div class="askanio-gallery-column">
                    <div class="askanio-gallery-content">
                        <a href='@Url.Action("Album", new { id = album.Id})'>
                            @if (!string.IsNullOrEmpty(album.Cover))
                            {
                                <img src='@Url.Content(album.Cover ?? "~/Content/Core/photo-dummy.svg")?@Guid.NewGuid()' alt="@album.Title" />
                            }
                            else
                            {
                                <img src='@Url.Content("~/Content/Core/photo-dummy.svg")' alt="@album.Title"/>
                            }
                            <h3>@album.Title</h3>
                        </a>
                        <p></p>
                    </div>
                </div>
            </div>
        }
    </div>
@*</div>*@


