@model AskanioPhotoSite.Core.Models.GalleryPhotoViewModel

@{ 
    Layout = null;
}

<div id="photo-modal" class="modalPhoto">>
    <span class="close">&times;</span>

    <div id="title">@Model.Title</div>

    <img id="actual" class="modal-content" src="/image?id=@Model.Id&?@Guid.NewGuid()">
    <div class="loading"></div>

    <a class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    <div id="caption">@Model.Description</div>
</div> 


<script>
    $(document).ready(function () {
        $(".close").on("click", function () {
            $("#photo-modal").hide();
            $('body').css("overflow", "visible");
        });

        PreloadImage(ShowImage);

        $('.prev').on('click', function () {
            GetPhoto(@Model.Id, '@Url.Action("ViewPhotoPartial")', false);
        });
        $('.next').on('click', function () {
            GetPhoto(@Model.Id,'@Url.Action("ViewPhotoPartial")',  true);
        });
    });

    function ShowImage()
    {
        $('img .loading').fadeOut(500);
    }

    function PreloadImage(callback){
        var objImagePreloader = new Image();

        objImagePreloader.src = $('#actual').attr("src");
        if(objImagePreloader.complete){
            callback();
            objImagePreloader.onload=function(){};
        }
        else{
            objImagePreloader.onload = function() {
                callback();
                objImagePreloader.onload=function(){};
            }
        }
    }

    function _arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array( buffer );
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa( binary );
    }
</script>