@model AskanioPhotoSite.Core.Models.GalleryPhotoViewModel

@{ 
    Layout = null;
}

<div id="photo-modal" class="modalPhoto">>
    <span class="close">&times;</span>

    <div id="title">@Model.Title</div>

    
    <img class="modal-content" src='@Url.Content(Model.Path)'>

    <a class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    <div id="caption">@Model.Description</div>
</div> 


<script>
    $(document).ready(function () {
        $(".close").on("click", function () {
            $("#photo-modal").hide();
            $('body').css("overflow", "visible");
        });

        $('.prev').on('click', function () {
            GetPhoto(@Model.Id, '@Url.Action("ViewPhotoPartial")', false);
        });
        $('.next').on('click', function () {
            GetPhoto(@Model.Id,'@Url.Action("ViewPhotoPartial")',  true);
        });
    });
</script>